.onSaleHeader {
  background-color: rgba(255, 255, 255, .04);
  border: 1px solid rgba(255,255,255,.1);
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  position: relative;

  &__wrapper {
    align-items: center;
    display: flex;
    height: 30px;
    padding: 0 12px 0 60px;
    position: relative;
    z-index: 1;
  }
  &__release {
   flex: 0 1 60px;
  }
  &__manufacturer {
    flex: 0 1 90px;
    text-align: center;
  }
  &__model {
    flex: 0 1 45px;
  }
  &__hash {
    flex: 0 1 99px;
    text-align: center;
  }
  &__algorithm {
    flex: 0 1 74px;
  }
  &__efficiency {
    flex: 0 1 75px;
  }
  &__profit {
    flex: 0 1 98px;
  }
  &__price {
    flex: 0 1 99px;
    text-align: center;
  }
}

@media (max-width: 1439px) {
  .onSaleHeader {
    &__release {
      display: none;
    }
    &__algorithm {
      display: none;
    }
    &__manufacturer {
      text-align: left;
    }
  }
}