.header {
  display: flex;
  align-items: center;
  height: 80px;
  max-width: 1440px;
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;

  &__burger {
    display: none;
    img {
      max-width: 100%;
      display: block;
    }
  }

}

@media (max-width: 1023px) {
  .header {
    justify-content: space-between;
    height: 150px;
    padding: 0 60px;
    &__burger {
      display: block;
      max-width: 31px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    height: 70px;
    padding: 0 30px;
    margin-bottom: 30px;
    &__burger {
      max-width: 20px;
    }
    &__logo {
      max-width: 65px;
    }
    &__cart {
      img {
        width: 24px;
      }
    }
  }
}