.cart {
  margin-left: auto;
  position: relative;
  cursor: pointer;
  img {
    max-width: 100%;
  }
  span {
    position: absolute;
    width: 10px;
    top: -6px;
    right: 0;
    color: #fff;
    background-color: #0B0C23;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
  }
}

@media (max-width: 1023px) {
   .cart {
      margin-left: 0;
      margin-top: 5px;
      img {
        width: 39px;
      }
    }
}

@media (max-width: 767px) {
    .cart {
      img {
        width: 24px;
      }
    }
}