.bannerBullet {
  cursor: pointer;
  position: relative;
  margin-bottom: 3px;
  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    display: none;
  }
  &.active {
    &::before {
      display: block;
    }
  }
}